body{
    background-color: #F1F8FF;
}
.bg-footer{
    background-color: #D0E6FF;
}
.w-logo{
    width: 140px;
}
.w-2-logo{
    width: 110px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}