body{
    background-color: #F1F8FF;
}
.bg-footer{
    background-color: #D0E6FF;
}
.w-logo{
    width: 140px;
}
.w-2-logo{
    width: 110px;
}

p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 3%;
}
h5:hover{
    text-decoration: underline;
}

